<!DOCTYPE html>
<html lang='pt-BR'>
<% include ./templates/head %>

<body>
    <% include ./templates/header %>
    <div class="container">
        <div class="row">
            <h2>Repasses Gerais</h2>
            <div class="col s12 offset-s1">
                <p class="flow-text" style="font-size: 16px">
                    Nesta tabela encontram-se informações sobre o repasse do PDDE as escolas. </br>
                </p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="col s12">
            <table>
                <thead>
                    <tr role="row">
                        <th>Nome da Instituição</th>
                        <th>Estado</th>
                        <th>Ano</th>
                        <th>Repasse PDDE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= escola.nome %></td>
                        <td><%= escola.estado %></td>
                        <td><%= escola.ano %></td>
                        <td><%= escola.repasse %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="divider"></div>
        <div class="col s12">
            <table>
                <thead>
                    <tr role="row">
                        <th>Descrição Repasse</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <% escola.detalhamento.forEach( detalhes => { %>
                    <tr>
                        <td><%= detalhes.descricao %></td>
                        <td><%= detalhes.valor%></td>
                        <td><%= detalhes.tipo%></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <% include ./templates/footer %>
</body>

</html>