<!DOCTYPE html>
<html lang='pt-BR'>
<% include ./templates/head %>

<body>
    <% include ./templates/header %>
    <div class="container">
        <div class="row">
            <h2>Repasses Gerais</h2>
            <div class="col s12 offset-s1">
                <p class="flow-text" style="font-size: 16px">
                    Nesta tabela encontram-se informações sobre o repasse do PDDE as escolas. </br>
                </p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="col s12">
            <table>
                <thead>
                    <tr role="row">
                        <th>Id</th>
                        <th>Nome da Instituição</th>
                        <th>Estado</th>
                        <th>Ano</th>
                        <th>Repasse PDDE</th>
                    </tr>
                </thead>
                <tbody>
                    <% escolas.forEach( (escola, index) => {  %>
                    <tr>
                        <td><a href="/escolas/<%= escola._id %>"><%= index %></a></td>
                        <td><a href="/escolas/<%= escola._id %>"><%= escola.nome%></a></td>
                        <td><a href="/escolas/<%= escola._id %>"><%= escola.estado%></a></td>
                        <td><a href="/escolas/<%= escola._id %>"><%= escola.ano%></a></td>
                        <td><a href="/escolas/<%= escola._id %>"><%= escola.repasse%></a></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>

    </div>
    <% include ./templates/footer %>
</body>

</html>